CMakeCache.txt
CMakeFiles/*
Makefile
cmake/*
cmake_install.cmake

OECAgent
OECCoordinator
OECClient
ECDAGTest
HDFSClient
CodeTest

entryStore
poolStore

conf/

hadoop-3.0-helper/*.jar
hadoop-3.0-helper/oec/protocol/*.class

script/sysSetting.xml*

src/CMakeFiles/*
src/common/CMakeFiles/*
src/common/*.a
src/util/CMakeFiles/*
src/util/*.a
src/ec/CMakeFiles/*
src/*/*.a

src/*.swp
src/*/*.swp

src/protocol/CMakeFiles/*
src/fs/CMakeFiles/*

coor_output

backup/*
