CMakeCache.txt
CMakeFiles/*
Makefile
cmake/*
cmake_install.cmake

OECAgent
OECCoordinator
OECClient
ECDAGTest
HDFSClient
CodeTest

entryStore
poolStore


script/sysSetting.xml*

src/CMakeFiles/*
src/common/CMakeFiles/*
src/common/*.a
src/util/CMakeFiles/*
src/util/*.a
src/ec/CMakeFiles/*
src/*/*.a

src/*.swp
src/*/*.swp

src/protocol/CMakeFiles/*
src/fs/CMakeFiles/*

coor_output

backup/*

hdfs3-integration/*.jar
hdfs3-integration/oec/protocol/*.class

doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
